body {
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
	padding: 0;	
}
#header {
	margin:0 auto;
	padding: 0;	
	overflow: hidden;
	width: 960px;
}
#header #logo {
	float: left;
	height: 144px;
	width: 355px;
}	
#header #logo img {
	border: 0;
}
#header ul {
	float: right;
	margin: 0;
	padding: 70px 0 0 0;
	overflow: hidden;	
	width: 605px;
}
#header ul li {
	list-style-type: none;
	float: left;	
	margin: 0;
	padding: 0;
	width: 121px;
}
#header ul li a,
#header ul li a span,
#header ul li a:hover,
#header ul li a:hover span,
#header ul li.selected a,
#header ul li.selected a span {
	background: url(http://aman/build-farm/img/menu.gif);	
}
#header ul li a { 
	background-position: 10px 0; 
	color: #2a4f5e;
	display: block;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	margin: 0;
	padding: 0 0 0 10px;
	text-align: center;	
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #fff;
} 
#header ul li a span{ 
	background-position: -70px 0; 
	display: block;	
	margin: 0;
	padding: 0 10px 0 0;
} 
#header ul li a:hover { 
	background-position: -186px -37px; 
	color: #346b84;
	text-shadow: none;
} 
#header ul li a:hover span { 
	background-position: -70px -37px; 
} 
#header ul li.selected a{ 
	background-position: 10px 36px; 
	color: #fff;
	text-shadow: none;
} 
#header ul li.selected a span{ 
	background-position: -70px -74px; 
} 

#body {
	background: url(http://aman/build-farm/img/bg-content.gif) repeat-x top left;
	margin: 0;
	padding: 0;	
	min-width: 960px;
}
#body .about{
	margin: 0 auto;
	padding: 25px 10px 50px 10px;	
	width: 940px;
}
#body h1 {
	color: #2a4f5e;
	font-size: 27px;
	font-weight: bold;
	height: 74px;
	line-height: 74px;
	margin: 0;
	padding: 0;	
	text-indent: 10px;
	text-transform: uppercase;	
}
#body .about div {
	padding: 50px 0 0 0;	
}
#body .about h2 {
	color: #2a4f5e;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding: 0;	
	text-transform: uppercase;
}
#body .about p {
	color: #5d5d5d;
	font-size: 14px;
	line-height: 24px;
	margin: 10px 0 0;
	padding: 0;	
	text-align: justify;
	width: 830px;
}
#body .about p a {
	color: #5d5d5d;
}
#body .about p a:hover {
	color: #2a4f5e;	
}

#generate {
	background: url(http://aman/build-farm/img/bg-content.gif) repeat-x top left;
	margin: 0;
	padding: 0;	
	min-width: 960px;
}
#generate .desc{
	margin: 0 auto;
	padding: 25px 10px 50px 10px;	
	width: 940px;
}
#generate h1 {
	color: #2a4f5e;
	font-size: 27px;
	font-weight: bold;
	height: 74px;
	line-height: 74px;
	margin: 0;
	padding: 0;	
	text-indent: 10px;
	text-transform: uppercase;	
}
#generate .desc div {
	padding: 50px 0 0 0;	
}
#generate .desc h2 {
	color: #2a4f5e;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding: 0;	
	text-transform: uppercase;
}
#generate .desc p {
	color: #5d5d5d;
	font-size: 14px;
	line-height: 24px;
	margin: 10px 0 0;
	padding: 0;	
	text-align: justify;
	width: 830px;
}
#generate .desc p a {
	color: #5d5d5d;
}
#generate .desc p a:hover {
	color: #2a4f5e;	
}

