
#usagetable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
#usagetable th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#usagetable td
{
	color: #669;
	padding: 9px 8px 0px 8px;
}
#usagetable tbody tr:hover td
{
	color: #009;
}
 
